.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.heroSection2:global(.__wab_instance) {
  position: relative;
}
.box__qwNk {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__qwNk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__qwNk > :global(.__wab_flex-container) > *,
.box__qwNk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__hLtk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__hLtk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__hLtk > :global(.__wab_flex-container) > *,
.box__hLtk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__lx6NY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.box__t9Qb {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  padding: 4px 8px;
  background: #ffffff;
}
.box___2R5Hy {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
}
.box__pD5TW {
  font-size: 20px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  line-height: 28px;
}
.box__evOdk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__evOdk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__evOdk > :global(.__wab_flex-container) > *,
.box__evOdk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__rQdex:global(.__wab_instance) {
  position: relative;
}
.svg__elMjw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__oDdB {
  height: auto;
}
.svg__w0ESr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__vwPNv:global(.__wab_instance) {
  position: relative;
}
.svg__suot6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__okhPe {
  height: auto;
  font-weight: 400;
}
.svg__fuzYe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__vBkVa {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  min-width: 0;
  border-radius: 16px;
  background: #ffffff;
}
.box__vBkVa > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__vBkVa > :global(.__wab_flex-container) > *,
.box__vBkVa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__zYcWd {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.box__vd4Oa {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.box__vd4Oa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__vd4Oa > :global(.__wab_flex-container) > *,
.box__vd4Oa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box___38Zh {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___38Zh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box___38Zh > :global(.__wab_flex-container) > *,
.box___38Zh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__buVvR:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__p9Bfr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__yjSqw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__uxULx:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__py790 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__ytWzo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__dhQ4 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__dhQ4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__dhQ4 > :global(.__wab_flex-container) > *,
.box__dhQ4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.divider__wfFep:global(.__wab_instance) {
  position: relative;
}
.divider__boahk:global(.__wab_instance) {
  position: relative;
}
.box___8DxTz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___8DxTz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box___8DxTz > :global(.__wab_flex-container) > *,
.box___8DxTz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.button__tc7He:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ztC8F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__vv2Qi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: QXNTCah6m */;
}
.divider__vvvku:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__mos6H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 32px;
  background: #f2f2f7;
}
.box__as9W5 {
  position: relative;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.navigation:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img___3UCh9 {
  object-fit: cover;
  width: 40px;
}
.button__j1SlO:global(.__wab_instance) {
  position: relative;
}
.svg__nDmka {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__pjogT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button___9QY2X:global(.__wab_instance) {
  position: relative;
}
.svg__s5D6X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__mw9Wz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__r7XyC:global(.__wab_instance) {
  position: relative;
}
.svg__fSxdy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__qk7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__eVqrl:global(.__wab_instance) {
  position: relative;
}
.svg__z3AT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__uR8Nx {
  height: auto;
}
.svg___9KhRb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__amdd9:global(.__wab_instance) {
  position: relative;
}
.svg__qh4Wx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__o4Ob5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__hUh7C:global(.__wab_instance) {
  position: relative;
}
.svg__qPqaN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__jnur0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__lwiYu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__eyaPl {
  display: flex;
  flex-direction: column;
  height: auto;
}
.box__eyaPl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__eyaPl > :global(.__wab_flex-container) > *,
.box__eyaPl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box___1JrBn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  line-height: 1;
}
.box___9216B {
  font-size: 20px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  text-align: left;
  line-height: 28px;
}
.box__mfu9A {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.box__mfu9A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.box__mfu9A > :global(.__wab_flex-container) > *,
.box__mfu9A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.box__xxX6T {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__xxX6T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.box__xxX6T > :global(.__wab_flex-container) > *,
.box__xxX6T > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__xxX6T {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__xxX6T > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__xxX6T > :global(.__wab_flex-container) > *,
  .box__xxX6T > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__z812F:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___307O {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__kwMg3 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.valueprop__cpIiy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cnO2V {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__q1LGm {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.valueprop__otSnB:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__n3HKy {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__d6M1G {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.valueprop__fxf5F:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xKdXh {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__s4Ek {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.box__ztG32 {
  height: auto;
}
.box__q44Zs {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.box__q44Zs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.box__q44Zs > :global(.__wab_flex-container) > *,
.box__q44Zs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.box__aQoOy {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__aQoOy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.box__aQoOy > :global(.__wab_flex-container) > *,
.box__aQoOy > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__aQoOy {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__aQoOy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__aQoOy > :global(.__wab_flex-container) > *,
  .box__aQoOy > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__cSdEq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xTkgO {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__r0Udy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.box__uiPlY {
  height: auto;
}
.valueprop__jGwKb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zxKTs {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___3LnMd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.valueprop__elbFn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__aqiig {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__plKlT {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.valueprop__wumQq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gayBj {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__hxofj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.box__mZ0BW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__wkBdS {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__wkBdS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__wkBdS > :global(.__wab_flex-container) > *,
.box__wkBdS > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__dHGkI {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
.h2__xrX3X {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
  line-height: 1;
}
.box___4MXfO {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: QXNTCah6m */;
  line-height: 28px;
  height: auto;
}
.button__oGocc:global(.__wab_instance) {
  position: relative;
}
.svg__wIe86 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__qtXds {
  color: #0a84ff /* plasmic-token: W6-ircZ56 */;
}
.svg__zQp4X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: W6-ircZ56 */;
}
.box__lBwGg {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__mh6Nn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__kuuGu {
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.svg__vrQgi {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
.listItem___6Fe6E:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__hyO3E {
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.svg___49Nap {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
.listItem__w6SrN:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__ox5Ep {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.svg__kg8Ra {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
.listItem__hi5Vq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box___2Qp1O {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.svg__mocDc {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
.listItem__plnRa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box___0Hp98 {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.svg__cRae {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
.box___73RN1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__upMv3 {
  display: flex;
  flex-direction: column;
}
.box__upMv3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__upMv3 > :global(.__wab_flex-container) > *,
.box__upMv3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__e04Hm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__tczjE {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
  line-height: 1;
}
.box__ue94 {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: QXNTCah6m */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.box__mlq4 {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
}
.box__mlq4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mlq4 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mlq4 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mlq4 > :global(.__wab_flex-container) > *,
  .box__mlq4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__dxyVe {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__dxyVe {
    border-radius: 16px;
  }
}
.box__tk3V4 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.box__tk3V4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__tk3V4 > :global(.__wab_flex-container) > *,
.box__tk3V4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__dJLl {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.box__ycZqo {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__ycZqo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__ycZqo > :global(.__wab_flex-container) > *,
.box__ycZqo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.box__glbHu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box___0L4Wf {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  width: auto;
  display: inline-block;
}
.box__sfA {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  width: auto;
  display: inline-block;
}
.box__ysFhh {
  line-height: 28px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider__tdbg8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__hV9Go {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
  background: #f2f2f7;
}
.box__hV9Go > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__hV9Go > :global(.__wab_flex-container) > *,
.box__hV9Go > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box___74UzZ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___74UzZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box___74UzZ > :global(.__wab_flex-container) > *,
.box___74UzZ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop___1ILjj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2VFy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__e2W3Q {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.valueprop__fipd2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kHmbl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__cZmB0 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.svg__qykSe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box___9G09X {
  height: auto;
}
.svg__lbxMy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__pqKIt {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  border-radius: 16px;
  background: #ffffff;
  border: 4px solid #34c759 /* plasmic-token: sToTBYqpG */;
}
.box__aWbXi {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.box__aWbXi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__aWbXi > :global(.__wab_flex-container) > *,
.box__aWbXi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__cqW0B {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.box__g920Q {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__g920Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__g920Q > :global(.__wab_flex-container) > *,
.box__g920Q > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.box__vR86Q {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__qBMf {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  width: auto;
  display: inline-block;
}
.box__xLlxu {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  width: auto;
  display: inline-block;
}
.box__ekfPu {
  line-height: 28px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__u5ZYp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__c92Au {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
  background: #f2f2f7;
}
.box__c92Au > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__c92Au > :global(.__wab_flex-container) > *,
.box__c92Au > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__xqgdt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__xqgdt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__xqgdt > :global(.__wab_flex-container) > *,
.box__xqgdt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop__sd4Qv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dBgQg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___1QaYw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.valueprop___7Vq2L:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.box__dvFYp {
  height: auto;
}
.svg__t16Nr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___0X5Cb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.valueprop__q9HaK:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__d1XT {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__wYAoQ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.valueprop__yIRjc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.box___9F484 {
  height: auto;
}
.svg__xKgdZ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__mbemf {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.svg___4TKd4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__hid4I {
  height: auto;
}
.svg__wzyOt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box___8A3Pz {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___8A3Pz {
    border-radius: 16px;
  }
}
.box__cUjYv {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.box__cUjYv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__cUjYv > :global(.__wab_flex-container) > *,
.box__cUjYv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box___3X2X6 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.box__b1Hhg {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__b1Hhg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__b1Hhg > :global(.__wab_flex-container) > *,
.box__b1Hhg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.box__k13 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__h2Ey {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  width: auto;
  display: inline-block;
}
.box__koVCa {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  width: auto;
  display: inline-block;
}
.box__zuoC5 {
  line-height: 28px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__rHvhf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box___3QJjC {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
  background: #f2f2f7;
}
.box___3QJjC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box___3QJjC > :global(.__wab_flex-container) > *,
.box___3QJjC > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__j9YpH {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__j9YpH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__j9YpH > :global(.__wab_flex-container) > *,
.box__j9YpH > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop___5DNzd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___96Tde {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__wr3R {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.valueprop__t57Ip:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jgScF {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___103RW {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
}
.svg__zr1Hm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__ztRyM {
  height: auto;
}
.svg__ndocE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner___2Vdvi:global(.__wab_instance) {
  position: relative;
}
.img__fpwtL {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__aZhBn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.box__lwf6B {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  line-height: 1;
  height: auto;
}
.svg__ag3Fj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box___8AZlL {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  white-space: pre;
  display: inline-block;
}
.svg__o6W8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__mtljp {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.box__mtljp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__mtljp > :global(.__wab_flex-container) > *,
.box__mtljp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mtljp {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mtljp > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mtljp > :global(.__wab_flex-container) > *,
  .box__mtljp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img__osazT {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__aGbA6 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.box__rPsxg {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  line-height: 1;
  height: auto;
}
.svg__oXwRm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__vpiEz {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  white-space: pre;
  display: inline-block;
}
.svg___3RaJv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.banner___0KMIj:global(.__wab_instance) {
  position: relative;
}
.img__al34C {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__ii8Pf {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.box__n1SmV {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  line-height: 1;
  height: auto;
}
.svg__aGlfq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__cfAxT {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  white-space: pre;
  display: inline-block;
}
.svg__cgzyi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.logoCloudSection2:global(.__wab_instance) {
  position: relative;
}
.img__gQuL {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___0N9Xe {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__b5DQe {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__odmDl {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__iXjkF {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.box___5MFoT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.testimonial__fmpyh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img___1K402 {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial___47Nwo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__wjn1M {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__ksOyn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.box__riBpU {
  height: auto;
}
.box___9VBr {
  height: auto;
}
.img___8V4N {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__uBf1Y:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.box__aZleR {
  height: auto;
}
.img__jF5QJ {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.callToActionSection1:global(.__wab_instance) {
  position: relative;
}
.img__dBlpM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.box__ljeHw {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: #007aff;
}
.box___0OmNq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___0OmNq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box___0OmNq > :global(.__wab_flex-container) > *,
.box___0OmNq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box___8WUqa {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.box__dYogy {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
  line-height: 1;
}
.box__fdUd {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: QXNTCah6m */;
  line-height: 28px;
}
.box___1LMc0 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___1LMc0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box___1LMc0 > :global(.__wab_flex-container) > *,
.box___1LMc0 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__sakfv:global(.__wab_instance) {
  position: relative;
}
.svg___8Wtb3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__eq9U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__ty2W:global(.__wab_instance) {
  position: relative;
}
.svg__cBZdM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__anP {
  height: auto;
  font-weight: 400;
}
.svg__yqXbH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
