.root {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 64px;
}
.root > :global(.__wab_flex-container) {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.banner__iohxY:global(.__wab_instance) {
  position: relative;
}
.img__vDXrV {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__hhvYg {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.box__m8I0N {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  line-height: 1;
  height: auto;
}
.svg__zQLo4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__pbGit {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  display: inline-block;
}
.svg__l2C9F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box___4Lf7H {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.box___4Lf7H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box___4Lf7H > :global(.__wab_flex-container) > *,
.box___4Lf7H > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
.img__hwbxV {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__khkir {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.box__h2Pp {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  line-height: 1;
  height: auto;
}
.svg___7OSeH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__voJ6 {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  display: inline-block;
}
.svg__et5TW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.banner__x3Mn:global(.__wab_instance) {
  position: relative;
}
.img__l8Cc {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__nWTjE {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.box___7TNyD {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  line-height: 1;
  height: auto;
}
.svg__uuiuu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__jGfXo {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  display: inline-block;
}
.svg___1SRnw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
