.root {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 64px;
  background: #1c1c1e;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    padding: 128px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 960px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__nd0JR {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__nd0JR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__nd0JR > :global(.__wab_flex-container) > *,
.box__nd0JR > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__fVZ {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
.h2__k9RkW {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
  line-height: 1;
}
.box__rrp1H {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: QXNTCah6m */;
  line-height: 28px;
  height: auto;
}
.button__oJass:global(.__wab_instance) {
  position: relative;
}
.svg__h9YlY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__qfyvd {
  color: #0a84ff /* plasmic-token: W6-ircZ56 */;
}
.svg__sAl47 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: W6-ircZ56 */;
}
.box__hI3Xe {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__l8ZiG:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__pc9Ic {
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.svg___3LViu {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
.listItem___6PPs:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box___0J9Ee {
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.svg__wuhUy {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
.listItem__zDQr5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box___6CEr3 {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.svg__f5UbS {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
.listItem__unVhe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__odMh {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.svg__hwOi {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
.listItem__lnVlY:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__sTi9D {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.svg__mYo27 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: JTGe7ue9S */;
}
