.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.box {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.box > :global(.__wab_flex-container) > *,
.box > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box > :global(.__wab_flex-container) > *,
  .box > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.box__g0Kj3 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.box__g0Kj3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__g0Kj3 > :global(.__wab_flex-container) > *,
.box__g0Kj3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.logo__rvDu7:global(.__wab_instance) {
  flex-shrink: 0;
}
.box__uh0Lt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__uh0Lt > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__uh0Lt > :global(.__wab_flex-container) > *,
.box__uh0Lt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__ll0Gc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__ll0Gc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__ll0Gc > :global(.__wab_flex-container) > *,
.box__ll0Gc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.svg__bPllY {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  flex-shrink: 0;
}
.svg__h1Ie {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  flex-shrink: 0;
}
.svg__atkvE {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  flex-shrink: 0;
}
.box__wxr1V {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.box__wxr1V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__wxr1V > :global(.__wab_flex-container) > *,
.box__wxr1V > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__t7ZR3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  height: auto;
}
.button__viJfR:global(.__wab_instance) {
  position: relative;
}
.svg__lFhr4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__o77RP {
  height: auto;
}
.svg__qHEmy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__craH2:global(.__wab_instance) {
  position: relative;
}
.svg__yXp5V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box___83LKt {
  height: auto;
}
.svg___3SaOq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button___6Tkoq:global(.__wab_instance) {
  position: relative;
}
.svg__cfNRw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__gfIkb {
  height: auto;
}
.svg___8FBhJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__bpOP:global(.__wab_instance) {
  position: relative;
}
.svg__nbC21 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__bnxwj {
  height: auto;
}
.svg__gYtVs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__soUbB {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.box__soUbB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__soUbB > :global(.__wab_flex-container) > *,
.box__soUbB > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__t3FUp {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  height: auto;
}
.button__lLz7A:global(.__wab_instance) {
  position: relative;
}
.svg__hHiFp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__onIgv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button___5TsGd:global(.__wab_instance) {
  position: relative;
}
.svg__sGtAh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg___7MdVv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__hOtvm:global(.__wab_instance) {
  position: relative;
}
.svg__agq5L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__m9Amj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__psqPv {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.box__psqPv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__psqPv > :global(.__wab_flex-container) > *,
.box__psqPv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__xhlhB {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
  height: auto;
}
.button__oOspI:global(.__wab_instance) {
  position: relative;
}
.svg__ksF5R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__s0Gv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__xheX:global(.__wab_instance) {
  position: relative;
}
.svg__gg532 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__tRp7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__hhNhw:global(.__wab_instance) {
  position: relative;
}
.svg__cnycE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__wt3Jn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.button__xQvdD:global(.__wab_instance) {
  position: relative;
}
.svg___8WPk1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg___7Vx0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
