.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.section__m64Fk {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 64px;
}
.section__m64Fk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section__m64Fk > :global(.__wab_flex-container) > *,
.section__m64Fk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box___8LkP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  min-width: 0;
}
.box__jOmCi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}
.h3__hofXp {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  position: relative;
}
.button__qfIuH:global(.__wab_instance) {
  position: relative;
}
.svg__mxRuV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__lkXnx {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  display: inline-block;
}
.svg__pa9V7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__aiUaf {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.box__aiUaf > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__aiUaf > :global(.__wab_flex-container) > *,
.box__aiUaf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__aiUaf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__aiUaf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__aiUaf > :global(.__wab_flex-container) > *,
  .box__aiUaf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__it1Ar {
  display: flex;
  position: relative;
  min-height: 400px;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
  background: linear-gradient(0deg, #00000080 0%, transparent 100%) 0% 0% / 100%
      100%,
    url("https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      top 50% left 50% / cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__it1Ar {
    min-height: 200px;
  }
}
.box___4IsCz {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
  line-height: 1;
  position: relative;
}
.box___00Qgr {
  display: flex;
  position: relative;
  min-height: 400px;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
  background: linear-gradient(0deg, #00000080 0%, transparent 100%) 0% 0% / 100%
      100%,
    url("https://images.unsplash.com/photo-1500643752441-4dc90cda350a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1914&q=80")
      top 50% left 50% / cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___00Qgr {
    min-height: 200px;
  }
}
.box__criTm {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
  line-height: 1;
  position: relative;
}
.box__xd5B0 {
  display: flex;
  position: relative;
  min-height: 400px;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
  background: linear-gradient(0deg, #00000080 0%, transparent 100%) 0% 0% / 100%
      100%,
    url("https://images.unsplash.com/photo-1504283991164-8fdae0118be0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80")
      top 50% left 50% / cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__xd5B0 {
    min-height: 200px;
  }
}
.box__uytTh {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
  line-height: 1;
  position: relative;
}
.box___6FuE {
  display: flex;
  position: relative;
  min-height: 400px;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
  background: linear-gradient(0deg, #00000080 0%, transparent 100%) 0% 0% / 100%
      100%,
    url("https://images.unsplash.com/photo-1542114551-ed4aed241d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80")
      top 50% left 50% / cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___6FuE {
    min-height: 200px;
  }
}
.box__oyTzi {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
  line-height: 1;
  position: relative;
  height: auto;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__sWeiR {
  display: flex;
  position: relative;
  min-height: 400px;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
  background: linear-gradient(0deg, #00000080 0%, transparent 100%) 0% 0% / 100%
      100%,
    url("https://images.unsplash.com/photo-1587301427108-933c0d3ce321?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80")
      top 50% left 50% / cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__sWeiR {
    min-height: 200px;
  }
}
.box__pFhm2 {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff /* plasmic-token: s-CA2Bfly */;
  line-height: 1;
  position: relative;
  height: auto;
}
.section__vxuqf {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 64px;
  background: #1c1c1e;
}
.section__vxuqf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section__vxuqf > :global(.__wab_flex-container) > *,
.section__vxuqf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__wt95N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  min-width: 0;
}
.box__oh3F4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}
.h3__hzpCu {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  position: relative;
  color: #ffffffd9 /* plasmic-token: Qmeasia2Y */;
}
.button___5Kp4V:global(.__wab_instance) {
  position: relative;
}
.svg___17JJr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__mu1R5 {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  display: inline-block;
}
.svg__blzQg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__gLUu {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.box__gLUu > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__gLUu > :global(.__wab_flex-container) > *,
.box__gLUu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__gLUu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__gLUu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__gLUu > :global(.__wab_flex-container) > *,
  .box__gLUu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.category__tnflY:global(.__wab_instance) {
  position: relative;
}
.img__qJni {
  position: relative;
  object-fit: cover;
  width: 300px;
  height: 300px;
}
.box__i0G1I {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: color;
  background: #ff453abf;
}
.category__lnRf:global(.__wab_instance) {
  position: relative;
}
.img__eQ1AV {
  position: relative;
  object-fit: cover;
  width: 300px;
  height: 300px;
}
.box__u1Vmb {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: color;
  background: #bf5af2bf;
}
.category__y40G:global(.__wab_instance) {
  position: relative;
}
.img__c1AkF {
  position: relative;
  object-fit: cover;
  width: 300px;
  height: 300px;
}
.box__dDwOv {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: color;
  background: #5e5ce6bf;
}
.category__t4Uch:global(.__wab_instance) {
  position: relative;
}
.img__rw5Cz {
  position: relative;
  object-fit: cover;
  width: 300px;
  height: 300px;
}
.box__eCzD {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: color;
  background: #0a84ffbf;
}
.category___1B9OV:global(.__wab_instance) {
  position: relative;
}
.img__x5Pq {
  position: relative;
  object-fit: cover;
  width: 300px;
  height: 300px;
}
.box__jfpkT {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: color;
  background: #32d74bbf;
}
.box__qIiol {
  width: auto;
  display: inline-block;
}
.category__p2AlM:global(.__wab_instance) {
  position: relative;
}
.img___3KXoE {
  position: relative;
  object-fit: cover;
  width: 300px;
  height: 300px;
}
.box__boAl8 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: color;
  background: #ffd60abf;
}
.box__i52X2 {
  width: auto;
  display: inline-block;
}
.category__bLumI:global(.__wab_instance) {
  position: relative;
}
.img__anhP {
  position: relative;
  object-fit: cover;
  width: 300px;
  height: 300px;
}
.box__svWbt {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: color;
  background: #ff9f0abf;
}
.box__gUoIu {
  width: auto;
  height: auto;
  display: inline-block;
}
.section__roKnp {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 64px;
  background: #f2f2f7;
}
.section__roKnp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section__roKnp > :global(.__wab_flex-container) > *,
.section__roKnp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__roKnp {
    padding: 128px 32px;
  }
}
.box__iF691 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  min-width: 0;
}
.box__fdUnv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}
.h3___4Fd0F {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  position: relative;
}
.button__nDfOu:global(.__wab_instance) {
  position: relative;
}
.svg___9Sehm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__c6JGk {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  display: inline-block;
}
.svg__fxlzn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box___0V7Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  min-width: 0;
  border-radius: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___0V7Y {
    display: flex;
    flex-direction: row;
    flex-row-gap: 0px;
  }
}
.box__mvzZk {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  background: #ffffff;
}
.box__mvzZk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__mvzZk > :global(.__wab_flex-container) > *,
.box__mvzZk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mvzZk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mvzZk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mvzZk > :global(.__wab_flex-container) > *,
  .box__mvzZk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.svg__nctz8 {
  object-fit: cover;
  width: 64px;
  height: 64px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg___8NSiB {
  object-fit: cover;
  width: 64px;
  height: 64px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__jxU5S {
  height: auto;
}
.svg___09Mfk {
  object-fit: cover;
  width: 64px;
  height: 64px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg___9WVa {
  object-fit: cover;
  width: 64px;
  height: 64px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__swohb {
  object-fit: cover;
  width: 64px;
  height: 64px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__cJ1Ff {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  background: #ffffff;
}
.box__cJ1Ff > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__cJ1Ff > :global(.__wab_flex-container) > *,
.box__cJ1Ff > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cJ1Ff {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cJ1Ff > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cJ1Ff > :global(.__wab_flex-container) > *,
  .box__cJ1Ff > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.svg__tavTi {
  object-fit: cover;
  width: 64px;
  height: 64px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__nmPhq {
  height: auto;
}
.svg__uFdGs {
  object-fit: cover;
  width: 64px;
  height: 64px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__goAw4 {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__jSovj {
  object-fit: cover;
  width: 64px;
  height: 64px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__dOpKb {
  object-fit: cover;
  width: 64px;
  height: 64px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg___5Pdn3 {
  object-fit: cover;
  width: 64px;
  height: 64px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__naFg4 {
  height: auto;
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner___1H1Vv:global(.__wab_instance) {
  position: relative;
}
.img__qgAoQ {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box___9Cmsb {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.box__sTqC {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  line-height: 1;
  height: auto;
}
.svg__rpAu3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__a8Sf3 {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  display: inline-block;
}
.svg__z9Zm0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__zzVt {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.box__zzVt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__zzVt > :global(.__wab_flex-container) > *,
.box__zzVt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
.img__uivgY {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__jzP26 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.box__mkUwT {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  line-height: 1;
  height: auto;
}
.svg__usB4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__lDtas {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  display: inline-block;
}
.svg___1SqVv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.banner__hGu9T:global(.__wab_instance) {
  position: relative;
}
.img__mdCKy {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__zEBh {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.box__bYuKh {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  line-height: 1;
  height: auto;
}
.svg__jckuA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__qeo0N {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  display: inline-block;
}
.svg__nh7Ze {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.section__aXjoC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 64px;
}
.box___3VLfR {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.box___3VLfR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.box___3VLfR > :global(.__wab_flex-container) > *,
.box___3VLfR > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___3VLfR {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___3VLfR > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___3VLfR > :global(.__wab_flex-container) > *,
  .box___3VLfR > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.box__q49R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-width: 0;
}
.box__q49R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__q49R > :global(.__wab_flex-container) > *,
.box__q49R > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__q49R > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__q49R > :global(.__wab_flex-container) > *,
  .box__q49R > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__q52Dd {
  position: relative;
  object-fit: cover;
  border-radius: 32px;
}
.box__ughrT {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__ughrT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__ughrT > :global(.__wab_flex-container) > *,
.box__ughrT > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ughrT > :global(.__wab_flex-container) {
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ughrT > :global(.__wab_flex-container) > *,
  .box__ughrT > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.img__yyAI {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  border-radius: 32px;
}
.img__fFbwF {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  border-radius: 32px;
}
.img___8SpE {
  object-fit: cover;
  width: 100%;
  min-width: 0;
  border-radius: 32px;
}
.box__j47TK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__j47TK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__j47TK > :global(.__wab_flex-container) > *,
.box__j47TK > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__wbv8 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  line-height: 1;
  position: relative;
}
.price___7HlIc:global(.__wab_instance) {
  position: relative;
}
.box__q9Vg {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
}
.box___9HEzj {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.box__ucdqr {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__ucdqr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__ucdqr > :global(.__wab_flex-container) > *,
.box__ucdqr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
.svg__qXyNv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.svg__okd04 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__uRDqN {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__uRDqN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__uRDqN > :global(.__wab_flex-container) > *,
.box__uRDqN > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__uWdvu {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__wP7Y9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__dMmXv {
  height: auto;
}
.svg__qQiAz {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759 /* plasmic-token: sToTBYqpG */;
  flex-shrink: 0;
}
.listItem__puzzi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___0Tbcq {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759 /* plasmic-token: sToTBYqpG */;
  flex-shrink: 0;
}
.listItem__mqCwo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__dXvh9 {
  height: auto;
}
.svg__xC8A2 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759 /* plasmic-token: sToTBYqpG */;
  flex-shrink: 0;
}
.listItem__pAlvw:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__k0Qzf {
  height: auto;
}
.svg__td0Rm {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759 /* plasmic-token: sToTBYqpG */;
  flex-shrink: 0;
}
.listItem__kQNpu:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__yoN4O {
  height: auto;
}
.svg__bqwhC {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759 /* plasmic-token: sToTBYqpG */;
  flex-shrink: 0;
}
.section__j5MNc {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 64px;
  background: #f2f2f7;
}
.section__j5MNc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section__j5MNc > :global(.__wab_flex-container) > *,
.section__j5MNc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__j5MNc {
    padding: 128px 32px;
  }
}
.box__xLp3C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  min-width: 0;
}
.h3__rCfvg {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  position: relative;
}
.button___6Eqdh:global(.__wab_instance) {
  position: relative;
}
.svg__tlztT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box___6CytL {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  display: inline-block;
}
.svg__xvQaL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__p5H8 {
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.box__p5H8 > :global(.__wab_flex-container) {
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__p5H8 > :global(.__wab_flex-container) > *,
.box__p5H8 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 64px;
  margin-top: 64px;
}
.productCard__kDlq5:global(.__wab_instance) {
  position: relative;
}
.svg__wZw4D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__ul5EZ {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__ul5EZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__ul5EZ > :global(.__wab_flex-container) > *,
.box__ul5EZ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.tag__tAKl:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__nkCdG {
  height: auto;
}
.h3__aVh2E {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  height: auto;
}
.box__vUy9B {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__vUy9B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__vUy9B > :global(.__wab_flex-container) > *,
.box__vUy9B > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
.box__q8Y9A {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
}
.box__os4Gn {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.box___07B3P {
  font-size: 48px;
  line-height: 1;
  color: #8e8e93 /* plasmic-token: BYb4PKO-9 */;
  text-decoration-line: line-through;
}
.box__korP4 {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.box__peXcX {
  text-decoration-line: line-through;
  color: #8e8e93 /* plasmic-token: BYb4PKO-9 */;
}
.img__ieDev {
  position: relative;
}
.productCard___5N8CZ:global(.__wab_instance) {
  position: relative;
}
.svg__rbVmJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box___61KnW {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  z-index: 99;
}
.box___61KnW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box___61KnW > :global(.__wab_flex-container) > *,
.box___61KnW > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.tag___0Zf1:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__o829D {
  height: auto;
}
.box__k6Qx {
  height: auto;
  width: auto;
  display: inline-block;
}
.h3__z9IlE {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  height: auto;
}
.price__d7B9J:global(.__wab_instance) {
  position: relative;
}
.box__aXt0E {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
}
.box__r9WuN {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.img___3WKJb {
  position: relative;
}
.productCard___6U4Fd:global(.__wab_instance) {
  position: relative;
}
.svg__dhAjC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__oF6Kr {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__oF6Kr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__oF6Kr > :global(.__wab_flex-container) > *,
.box__oF6Kr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.tag___9Zs4K:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__tCTnZ {
  height: auto;
}
.h3__qs6Ae {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  height: auto;
}
.box__iwZ7F {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__iwZ7F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__iwZ7F > :global(.__wab_flex-container) > *,
.box__iwZ7F > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
.box__eunx9 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
}
.box___6QsNi {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.box__fSeyM {
  font-size: 48px;
  line-height: 1;
  color: #8e8e93 /* plasmic-token: BYb4PKO-9 */;
  text-decoration-line: line-through;
}
.box__p2GC {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.box__aOjci {
  text-decoration-line: line-through;
  color: #8e8e93 /* plasmic-token: BYb4PKO-9 */;
}
.img__nNavo {
  position: relative;
}
.productCard__cQi7N:global(.__wab_instance) {
  position: relative;
}
.svg__ddTDj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box___2YwNr {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  z-index: 99;
}
.box___2YwNr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box___2YwNr > :global(.__wab_flex-container) > *,
.box___2YwNr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.tag__dOhTp:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__wioks {
  height: auto;
}
.box__mokcl {
  height: auto;
}
.box__azkQs {
  height: auto;
}
.h3__rh0Ie {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  height: auto;
  white-space: pre-wrap;
}
.price__m0Tc:global(.__wab_instance) {
  position: relative;
}
.box__zYh92 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
}
.box__myWf9 {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.img__fars5 {
  position: relative;
}
.productCard__cmmF9:global(.__wab_instance) {
  position: relative;
}
.svg__fAyks {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__gnPb2 {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__gnPb2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__gnPb2 > :global(.__wab_flex-container) > *,
.box__gnPb2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.tag__caodn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__j0Rco {
  height: auto;
}
.h3__oPxH1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  height: auto;
}
.price__vmiCx:global(.__wab_instance) {
  position: relative;
}
.box__qsHC {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
}
.box__njA0T {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.img__wa13B {
  position: relative;
}
.productCard__gvbYe:global(.__wab_instance) {
  position: relative;
}
.svg__neqw8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__x7Etk {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__x7Etk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__x7Etk > :global(.__wab_flex-container) > *,
.box__x7Etk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.tag___1EEa:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__wy5Ib {
  height: auto;
}
.h3__pTnzJ {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  height: auto;
}
.price__aAKH:global(.__wab_instance) {
  position: relative;
}
.box__qiBG {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
}
.box__igD9C {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.img__pcm6T {
  position: relative;
}
.productCard__nYYlJ:global(.__wab_instance) {
  position: relative;
}
.svg__qE2Ru {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__ze78G {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__ze78G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__ze78G > :global(.__wab_flex-container) > *,
.box__ze78G > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.tag__seGgg:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.box___8M0F3 {
  height: auto;
}
.h3__k1Kpp {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  height: auto;
}
.price__u1Hnk:global(.__wab_instance) {
  position: relative;
}
.box___2Tf4M {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
}
.box__h9FZx {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.img__vqbU {
  position: relative;
}
.productCard___2UpHi:global(.__wab_instance) {
  position: relative;
}
.svg__csEz8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__axxSf {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__axxSf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__axxSf > :global(.__wab_flex-container) > *,
.box__axxSf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.tag__apvDj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__xzaw {
  height: auto;
}
.h3__hZ8BJ {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  height: auto;
}
.price__baa9M:global(.__wab_instance) {
  position: relative;
}
.box__bznP {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
}
.box__km47Q {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.img__fsQMi {
  position: relative;
}
.section__kb6Uv {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 64px;
  background: #f2f2f7;
}
.section__kb6Uv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section__kb6Uv > :global(.__wab_flex-container) > *,
.section__kb6Uv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__kb6Uv {
    padding: 128px 32px;
  }
}
.box__b5ST {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  min-width: 0;
}
.h3__xh7U4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  position: relative;
}
.button___0FQNl:global(.__wab_instance) {
  position: relative;
}
.svg__gAhNt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__pg0Qt {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Lgsi1V20A */;
  display: inline-block;
}
.svg__c8SH2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__lIUys {
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.box__lIUys > :global(.__wab_flex-container) {
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__lIUys > :global(.__wab_flex-container) > *,
.box__lIUys > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 64px;
  margin-top: 64px;
}
.productCard__n5Mrz:global(.__wab_instance) {
  position: relative;
}
.svg__iNTo4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__qGci {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__qGci > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__qGci > :global(.__wab_flex-container) > *,
.box__qGci > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.tag___1JZpz:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__nsToL {
  height: auto;
}
.h3__oPuGa {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  height: auto;
}
.h3__m5S5R {
  height: auto;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__y3L12 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__y3L12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__y3L12 > :global(.__wab_flex-container) > *,
.box__y3L12 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 16px;
}
.box__wG9Jh {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  height: auto;
}
.box__vs190 {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.box__eiZ5R {
  font-size: 48px;
  line-height: 1;
  color: #8e8e93 /* plasmic-token: BYb4PKO-9 */;
  text-decoration-line: line-through;
}
.box__yE7NU {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
}
.box__dae98 {
  text-decoration-line: line-through;
  color: #8e8e93 /* plasmic-token: BYb4PKO-9 */;
}
.img__oWqrg {
  position: relative;
  max-height: 400px;
}
.productCard__t1Zwz:global(.__wab_instance) {
  position: relative;
}
.svg__flbAd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__d5FwP {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__d5FwP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__d5FwP > :global(.__wab_flex-container) > *,
.box__d5FwP > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.tag__sX8Gu:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__yuZdd {
  height: auto;
}
.h3__dbeA {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  height: auto;
}
.h3__ijTxX {
  height: auto;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box___8FaKn {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___8FaKn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box___8FaKn > :global(.__wab_flex-container) > *,
.box___8FaKn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 16px;
}
.box__ui8Ah {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  height: auto;
}
.box___5JgdS {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
  width: auto;
  display: inline-block;
}
.img__rw87S {
  position: relative;
  max-height: 400px;
}
.productCard__jtJuD:global(.__wab_instance) {
  position: relative;
}
.svg__arSqN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box__mvVuW {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__mvVuW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__mvVuW > :global(.__wab_flex-container) > *,
.box__mvVuW > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.tag__a1Zdv:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.box__kbJas {
  height: auto;
}
.h3__cGImP {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  height: auto;
}
.h3__y8SDn {
  height: auto;
  color: #05050599 /* plasmic-token: _YBwsw1zZ */;
}
.box___4XTac {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___4XTac > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box___4XTac > :global(.__wab_flex-container) > *,
.box___4XTac > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 16px;
}
.box__vcXi8 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: YRDkLQhbv */;
  height: auto;
}
.box__v5N6F {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 32px;
  width: auto;
  display: inline-block;
}
.img___5XSwT {
  position: relative;
  max-height: 400px;
}
