.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 128px;
}
.box {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 1920px;
  flex-direction: row;
}
.box > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 128px);
  width: calc(100% + 128px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box > :global(.__wab_flex-container) > *,
.box > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 128px;
  margin-top: 64px;
}
.img___7CmlA {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___4VYl4 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__eiBiu {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__lkggX {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___6QAbC {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
